<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/site.css">
</head>
<body>
    <div id="frw">
        Lorem ipsum dolor sit amet
    </div>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--<script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>-->
    <script type="text/javascript" src="/res/js/site.js"></script>
</body>
</html>